<!-- <ion-view hide-back-button="true" view-title="">   -->
    <ion-view>

    <ion-header-bar align-title="center" class="bar-calm">

        <h1 class="title">MobiPedia</h1>
                    <h6>
                    <label class="item item-select item-calm item-left">
                        <select>
                        <option selected>English</option>
                        <option>Japanese</option>
                        </select>
                    </label>
                    </h6>
        </ion-header-bar>

      <ion-content class="padding has-header" ng-controller="HomeCtrl">
         <ion-list>
                <ion-item>

                         <img class="full-image" src="img/1.png">
                         <div class="item item-text-wrap">
                             Your convenient Tourist Guide that speaks your language!
                         </div>
                         <a class="button button-full button-energized" href="#/state1">Sign Up</a>
                         <a class="button button-full button-energized" href="#/state2">Sign In</a>
                       
               </ion-item>
          </ion-list>
    </ion-content>


    <ion-footer-bar align-title="center" class="bar-calm">
        <h1 class="title">Copyright &#xA9; 2015</h1>
    </ion-footer-bar>

    </ion-view>