<ion-view>

    <ion-header-bar align-title="center" class="bar-calm">
        <h1 class="title">Sign-Up Verification</h1>
    </ion-header-bar>

   	<ion-content class="padding has-header" ng-controller="SgnUpVerifyCtrl">

	   <ion-list class="list card">
   		
 			<ion-item class="item item-input">
 			<input type="tel" placeholder="Enter OTP sent on your Mobile" ng-model="OTP">
 			</ion-item>  	

      <ion-item class="item">
   				<a class="button button-small button-energized" href="#/tab2">Submit</a>
    			<a class="button button-small button-energized" href="#/state1">Cancel</a>
      </ion-item>

 		</ion-list>

   </ion-content>

   <ion-footer-bar align-title="center" class="bar-calm">
        <h1 class="title">Copyright &#xA9; 2015</h1>
    </ion-footer-bar>

</ion-view>