<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
    <ion-view>

	<ion-tabs class="tabs-icon-top tabs-color-positive">

  <!-- Profile Tab -->
  	<ion-tab title="Your Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab2/prof">
    <ion-nav-view name="tab2-prof"></ion-nav-view>
  	</ion-tab>

  <!-- Prefernces Tab -->
  	<ion-tab title="Your Preferences" icon-off="ion-gear-b" icon-on="ion-gear-b" href="#/tab2/pref">
    <ion-nav-view name="tab2-pref"></ion-nav-view>
  	</ion-tab>

	</ion-tabs>

    </ion-view>