<ion-view>

    <ion-header-bar align-title="center" class="bar-calm">
        <h1 class="title">Audio Tours</h1>
    </ion-header-bar>

   	<ion-content class="padding has-header" ng-controller="AdioCtrl">

	   <ion-list class="list card">

		<ion-item class="item item-light">
		<a href="img/jap_audio.mp3">Audio Clip</a>
		 <span class="item-note item-text-wrap">
		   Language: English
		   Duration: 0.30 H
 		   Author: Rohit        
 		   Date: 01-12-2015
    	   Views: 15
    	   Price: $ 2.5
    	 </span>
		</ion-item>

		<ion-item class="item item-stable">
		<a href="img/eng_audio.mp3">Audio Clip</a>
		 <span class="item-note item-text-wrap">
		   Language: Japanese
		   Duration: 0.25 H
 		   Author: Ben       
 		   Date: 23-02-2016
    	   Views: 99
    	   Price: $ 1.5
    	 </span>
		</ion-item>

		<ion-item class="item item-light">
		<a href="img/jap_audio.mp3">Audio Clip</a>
		 <span class="item-note item-text-wrap">
		   Language: English
		   Duration: 0.30 H
 		   Author: Rohit        
 		   Date: 01-12-2015
    	   Views: 15
    	   Price: $ 2.5
    	 </span>
		</ion-item>

		<ion-item class="item item-stable">
		<a href="img/eng_audio.mp3">Audio Clip</a>
		 <span class="item-note item-text-wrap">
		   Language: Japanese
		   Duration: 0.25 H
 		   Author: Ben       
 		   Date: 23-02-2016
    	   Views: 99
    	   Price: $ 1.5
    	 </span>
		</ion-item>

		<ion-item class="item item-light">
		<a href="img/jap_audio.mp3">Audio Clip</a>
		 <span class="item-note item-text-wrap">
		   Language: English
		   Duration: 0.30 H
 		   Author: Rohit        
 		   Date: 01-12-2015
    	   Views: 15
    	   Price: $ 2.5
    	 </span>
		</ion-item>

		<ion-item class="item item-stable">
		<a href="img/eng_audio.mp3">Audio Clip</a>
		 <span class="item-note item-text-wrap">
		   Language: Japanese
		   Duration: 0.25 H
 		   Author: Ben       
 		   Date: 23-02-2016
    	   Views: 99
    	   Price: $ 1.5
    	 </span>
		</ion-item>
<!--
   <ion-list ng-controller="JsonCtrl">
		<ion-item ng-repeat="x in myData">
    			{{ x.lang + ', ' + x.durationH + "H" + ', ' + x.author  + ', ' + x.createDate  + ', ' + x.viewCount    + ', ' + x.price   + ', ' + x.urlPath}}
		</ion-item>
	</ion-list>
-->


   </ion-content>

</ion-view>